<!-- This file is used because the demo hosting is done on an IIS server -->
<configuration>
	<system.webServer>
		<staticContent>
			<!-- Add MIME type because IIS doesn't serve the SVG file type by default -->
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
		</staticContent>
		<!-- DEMO Only: Redirect requests into the root of the site, right to the index. -->
		<httpRedirect enabled="true" destination="demos-php" httpResponseStatus="Temporary" />
	</system.webServer>
	<!-- DEMO Only: Turn off the redirect from above for the child folders -->
	<location path="demos-php">
		<system.webServer>
			<httpRedirect enabled="false" />
		</system.webServer>
	</location>
	<location path="dist-php">
		<system.webServer>
			<httpRedirect enabled="false" />
		</system.webServer>
	</location>
	<location path="wet-boew">
		<system.webServer>
			<httpRedirect enabled="false" />
		</system.webServer>
	</location>
</configuration>